.DS_Store
.vscode
/data_*/*
/models/*
/checkpoints/*
/facebook-dataset/*
/sem_eval_clustering/*
/*.zip
/examples-sem-eval-2014
/examples-sem-eval-2015
/examples-sem-eval-2016
/facebook-ads-dataset
/facebook_ads_data
/*.ipynb